/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기존의 다른 CSS 코드는 이 아래에 위치합니다. */
body {
    margin: 0;
    @apply font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}